/* reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}
body {
background-image: linear-gradient(to bottom, #4fc15d, #00c188, 
#00bdac, #00b7c5, #00afd1, #53b2d9, #7ab4dd, #97b7dd, #b7c7e6, 
#d3d8ee, #ebebf6, #ffffff);
scroll-behavior: smooth;
}

/* navbar */
nav {
  display: flex;
  background-color: #ffffffa8;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 4px 6px #0000005b;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}
.brand .letter {
  color: #fff;
}
.brand .logo-o {
  height: 50px;      
  width: 100px;        
  margin-left: 0px;  
  object-fit: contain;
  vertical-align: middle;
}
.label-navbar {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
/*  logo */
nav img{
  max-width: 40px;
  margin-left: 70px;
}
/*nav logo */
nav .logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 100px;
  align-items:flex-start;
}
/*nav home, about, calc */
nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  background-color: #ff9933;
  padding: 7px 20px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: 0.3s;
}
nav ul li a:hover {
  background-color: #ff7700;
  color: white;
}

/* hero section page 1 */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 100px 40px;
  width: 100%;
}
/* img hero */
.hero img {
  max-width: 400px;
}
/* animasi hero */
.hero-img {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
0% {
  transform: translateY(0px);
  }
  50% {
  transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
  }
 /* hero text */
.hero-text {
  max-width: 500px;
  text-align: left;
  color: white;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: white;
}
.hero h4 {
  font-weight: 600;
  color: white;
  padding: 50px 100px 20px 0px;
  font-size: 25px;
}
.hero a {
  display: inline-block;
  background: #F59C15;
  padding: 10px 15px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.hero a:hover {
  background: #ff7700;
  color: white;
}

/* section umum*/
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 80px 40px;
  flex-direction: column;
  text-align: center;
}

/* info section page2 */
.info {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); 
  gap: 20px;
  padding: 20px 40px 100px 40px ;
  align-items: stretch;   
  justify-items: stretch; 
}
.judul1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 0px 20px 12px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 0px 10px;   
  padding: 50px 0px 50px 0px;     
  grid-column: 1 / -1;
}
.info img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
.info-box {
  background-color: #00473da2;
  border-radius: 25px;
  padding: 15px 15px;
  max-width: 350px; 
  width: 100%;           
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.info-box h3 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}
.info-box p {
  font-size: 16px;
  padding: 10px 15px 15px 15px;
  line-height: 1.5;
  text-align: justify; 
}
.info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.4);
}

/* page 3 */
/* main-section */
.main-section {
  display: flex;
  flex-direction: column;
  margin: 30px;
  color: #000;
  padding: 30px;
}
.main-section h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 30px;   
  padding:  15px ; 
  border-radius: 15px;
  text-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 15px #000000;
}
.content-row {
  display: flex;
  align-items: center;
}
.content-row.reverse {
  flex-direction: row-reverse;
}
.content-left {
  flex: 1;
}
.content-left img {
  max-width: 300px;
  width: 50%;
}
.content-right {
  flex: 1;
}
.text-box {
  text-align: center;
  color: #fff;
  text-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
  margin: 10px;   
  padding: 25px; 
  border-radius: 15px;
  box-shadow: 1px 15px 25px #00000096;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify; 
}
.label {
  display: inline-block;
  background: rgb(255, 166, 0);
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #000;
  box-shadow: 1px 3px 5px #000000a8;
}
.hero img {
  max-width: 400px;
}
.main-section img {
  box-shadow: 1px 3px 5px white;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
  }

/*  Kalkulator */
/* page 4 */
.calc {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px; 
}
.calc h1{
  font-size: 40px;
  color: white;
  text-align: center; 
  padding: 5px;
  text-shadow: 0px 12px 10px rgba(0, 0, 0, 0.3);
}
.calc h5{
  color: white;
}
.calc p{
  color: white;
  text-shadow: 0px 12px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.calc-container {
  background-color: #00473da2;
  padding: 25px;
  width: 380px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: white;
}
.calc-container h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #ffcc66;
}
.calc-container input[type=number] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  text-align: center;
}
.calc-container button {
  padding: 10px 25px;
  background: #ff9933;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}
.calc-container button:hover {
  background: #ff7700;
  color: white;
}
.result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/*page 7 tips (page 5)*/
.page7-container{
  display:flex;
  align-items:center;
  justify-content:center;          
  gap:60px;                     
  padding:80px 40px;
  max-width:1100px;               
  margin:0 auto;                   
}
.page-left{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.page7-img{                     
  margin-bottom:18px;
}
.page-left h1{
  width:360px;                    
  background-color: #00473da2;
  color:white;
  padding:28px 24px;
  border-radius:16px;
  box-shadow:0 10px 24px rgba(0,0,0,.25);
  font-size:40px;
  font-weight:800;
  line-height:1.12;
  text-align:left;
}

.page7-right{ width:520px; }      

.page7-tips{
  list-style:none;
  display:flex;
  flex-direction:column;
  gap:30px;
  margin:0;
  padding:0;
}
.page7-tips li{
  background-color: #00473da2;
  color:#fff;
  padding:16px 24px;
  border-radius:16px;
  text-align:center;
  font-weight:700;
  font-size:20px;
  box-shadow:0 6px 14px rgba(0,0,0,.2);
}

/* source */
.page9-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 0px 12px 10px rgba(0, 0, 0, 0.3);
}
.page9-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
}
.page9-card {
  background-color: #00473da2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.2s ease;
  width: 250px;
  text-align: center;
}
.page9-card:hover {
  transform: translateY(-5px);
}
.page9-card img {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
.page9-card a {
  display: block;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}
.page9-card a:hover {
  color: #ffd54f;
}

/* footer */
footer {
  background: #f4a933; 
  color: white;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.footer-section p {
  font-size: 15px;
  line-height: 1.6;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin: 8px 0;
}
.footer-section ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: #2d2c50; 
}
.logo {
  width: 40px;
  height: 50px;
}
.social-links li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-links img {
  width: 35px;
  height: 46px;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 10px;
}
